body > * {
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    /* background-color: palegoldenrod;
    transition: all 0.5s; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display:flex;
    flex-direction: column;
    width: 95%;
    background-color: rgb(240, 248, 255);
    background-color: rgba(240, 248, 255, 0.6);
}

.container > * {
    margin: 15px;
}

.main-container > * {
    text-align: center;
}

#clock-txt {
    color: black;
    font-size: 5rem;
    margin: 0px;
}


.detail-container {
    display: flex;
}

.detail-container > * {
    flex: 1;
    padding: 0px 5px;
}

.detail-container h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}


.js-greetingBox, .js-form {
    margin: 10px;
}

.js-greetingBox > span {
    font-size: 1.2rem;
}


.js-todoBox {
    border-right: 1px dashed black;
}

.js-todoForm > input[type="text"] {
    width: 95%;
}

.js-todoBox > input[type="button"] {
    background-color:white;
    color: black;
    padding: 1px 3px;
    margin-top: 10px;
    width: 49%;
    border: none;
}

.js-todoBox > ul {
    padding-left: 0px;
    list-style: none;
}


.js-fortuneBox {
    display: flex;
    flex-direction: column;
}

.js-fortuneForm {
    align-self: center;
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(48, 45, 45);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.js-fortuneForm > span {
    display: block;
    text-align: center;
}
.js-fortuneForm > input[type="button"] {
    background-color:white;
    color: black;
    padding: 1px 3px;
    margin-top: 10px;
    width: 98%;
    border: none;
}


.greeting, .form, .list, .box, .btn {
    display: none;
}

.showing-flex {
    display: flex;
}

.showing-block {
    display: block;
}

.showing-inline {
    display: inline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

.bg-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}




/* .btn {
    cursor: pointer;
}

.clicked {
    color: #ea5455;
} */

